# Credenciales SIU GUARANI
USUARIO=TU_USUARIO_AQUI
PASSWORD=TU_PASSWORD_AQUI
CARRERA_ID=9999

# URL SIU GUARANI
BASE_URL=https://servicios.unahur.edu.ar/unahur3w

# ID de doc Google Sheet
SHEET_ID=id_del_sheet

# Flag para generar Excel true/false
GENERA_EXCEL=true/false